@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
  line-height: 30px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media print {
  html {
    font-size: 14px;
    line-height: 18px;
  }
}

.flyer {
  font-size: 18px;
  line-height: 30px;
}
@media print {
  .flyer {
    font-size: 15px;
    line-height: 25px;
  }
}

.equipment {
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  @apply mb-6;
  
}

@media print {
  .equipment {
    font-size: 13px;
    line-height: 17px;
  }
}

.equipment caption {
  font-weight: bold;
  text-align: left;
  @apply pl-2;
}

.equipment td {
  @apply border;
  @apply border-gray-800;
}
.equipment td:last-child {
  @apply border-l-0;
}
.equipment td:first-child {
  @apply border-r-0;
  @apply pl-2;
}

.equipment td:last-child {
  @apply w-[50px];
  font-weight: bold;
}

@media print {
  .page-break {page-break-after: always;}
}